/*! APP CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    color: white;
    background-color: #222121;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b4a8a8a5;
}

button {
    background-color: #444343;
    align-items: center;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 40px;
}

/*! LOGIN CSS  */
.modal-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-caja {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 320px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.btn-login {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
}

.error {
    color: red;
    font-size: 0.8rem;
}

.link {
    margin-top: 10px;
    color: blue;
    cursor: pointer;
    text-align: center;
}

/*! Pagina user */

/*! User / Mis Horas */
.mis-horas {
    margin: 20px;
    display: flex;
    flex-direction: column;
    color: #222121;
}

.mis-horas .filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.mis-horas .filtros .visualizacion-fechas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mis-horas .filtros .visualizacion-fechas button{
    margin-right: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.mis-horas .visualizacion-horas {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mis-horas .visualizacion-horas button {
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.registro-por-mes table {
    width: 100%;
    border-collapse: collapse;
}

.registro-por-mes tr {
    background-color: #f0f0f0;
}

.registro-por-mes th{
    background-color: grey;
}

.registro-por-mes th, .registro-por-mes td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.registro-por-quincena-contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.registro-por-quincena-contenedor > div {
    flex: 1;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 4px;
}

.registro-por-quincena-contenedor ul {
    list-style-type: none;
    padding: 0;
}

.registro-por-quincena-contenedor li {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #f9f9f9;
    border-radius: 4px;
}


/*! Footer css  */
footer {
    background-color: #222121;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}