/*! APP CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*! Colores light y dark  */
    --bg: #e7d9d9;
    --bg-card: #ffffff;
    --primario: #2563EB;
    --secundario: #10b9819a;
    --incorrecto: rgba(255, 0, 0, 0.768);
    --medio: rgba(255, 166, 0, 0.527);
    --texto: #0F172A;
    --border: #e5e7eb;
    --row-hover: #e0e7ff;


    /*! Fondo glass  */
    --glass-bg: rgba(255, 255, 255, 0.25);
    --glass-bg-hover: rgba(255, 255, 255, 0.35);
    --glass-border: rgba(255, 255, 255, 0.3);
    --glass-blur: 10px;
    --glass-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.dark-mode {
    --bg: #000000;
    --bg-card: #020617;
    --primario: #60A5FA;
    --secundario: #34d39971;
    --incorrecto: rgba(102, 6, 6, 0.768);
    --medio: rgba(184, 129, 27, 0.547);
    --texto: #E5E7EB;
    --border: #1e293b;
    --row-hover: #1e3a8a;

    --glass-bg: rgba(255, 255, 255, 0.08);
    --glass-bg-hover: rgba(255, 255, 255, 0.14);
    --glass-border: rgba(255, 255, 255, 0.15);
    --glass-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

/*! general  */
body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    max-width: 100vw;
}

/*! NAVBAR  */
.caja-navbar {
    position: sticky;
    top: 10px;
    display: flex;
    z-index: 1000;
    justify-content: center;
    pointer-events: none;
}

.navbar {
    pointer-events: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    gap: 40px;
    max-width: min(960px, 92vw);
    width: fit-content;

    color: var(--texto);
    background: var(--glass-bg);
    backdrop-filter: blur(var(--glass-blur));
    --webkit-backdrop-filter: blur(var(--glass-blur));
    border: 1px solid var(--glass-border);
    box-shadow: var(--glass-shadow);
    border-radius: 40px;
}

.navbar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar button, .btn-mis-horas {
    font-size: 1.1rem;
    background: none;
    text-decoration: none;
    border: none;
    color: var(--texto);
    cursor: pointer;
}


.navbar button[aria-label="Cambiar tema"] {
    padding: 0 12px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    transition: background 0.2s, color 0.2s, border 0.2s;
}

.navbar button:hover {
    color: var(--primario);
    border-color: var(--primario);
}

/*! Pantalla carga  */
.overlay-carga {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    pointer-events: all;
}
.animacion-carga {
    position: relative;
    width: 120px;
    height: 120px;
}
.cuadrado {
    position: absolute;
    inset: 0;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--texto);
    background: var(--bg);
    backdrop-filter: blur(6px);
}
.cuadrado-a {
    animation: pulsoRotacion 1.6s ease-in-out infinite;
}

.cuadrado-b {
    transform: rotate(-45deg);
    background: var(--bg-card);
    animation: pulsoRotacion-b 1.6s ease-in-out infinite;
}

.cuadrado-a span {
    font-size: 14px;
    animation: pulsoTexto 1.6s ease-in-out infinite;
}

.cuadrado-b span {
    transform: rotate(-180deg);
    font-size: 14px;
    opacity: 0.5;
    animation: pulsoTexto-b 1.6s ease-in-out infinite;
}

@keyframes pulsoRotacion {
    0% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
        border-radius: 25px;
    }
    25%{
        transform: scale(1.2) rotate(90deg);
        opacity: 0.75;
        border-radius: 25px 15px 15px 15px;
    }
    50% {
        transform: scale(1) rotate(180deg);
        opacity: 0.5;
        border-radius: 25px 15px 25px 15px;
    }
    75%{
        transform: scale(0.8) rotate(270deg);
        opacity: 0.75;
        border-radius: 25px 25px 25px 15px;
    }
    100% {
        transform: scale(1) rotate(360deg);
        opacity: 1;
        border-radius: 25px;
    }
}
@keyframes pulsoRotacion-b {
    0% {
        transform: scale(1) rotate(-45deg);
        opacity: 0.5;
        border-radius: 25px;
    }
    25%{
        transform: scale(0.8) rotate(-135deg);
        opacity: 0.75;
        border-radius: 15px 25px 15px 15px;
    }
    50% {
        transform: scale(1) rotate(-225deg);
        opacity: 1;
        border-radius: 15px 25px 15px 25px;
    }
    75%{
        transform: scale(1.2) rotate(-315deg);
        opacity: 0.75;
        border-radius: 25px 15px 25px 25px;
    }
    100% {
        transform: scale(1) rotate(-405deg);
        opacity: 0.5;
        border-radius: 25px;
    }
}

@keyframes pulsoTexto {
    0%{
        transform: scale(1) rotate(0deg);
        opacity: 1;
    } 
    50% {
        transform: rotate(180deg) scale(1.05);
        opacity: 0.5;
    }
    100% {
        transform: rotate(360deg) scale(0.9);
        opacity: 0.1;
    }
}
@keyframes pulsoTexto-b {
    0%{
        transform: rotate(-45deg) scale(1.05);
        opacity: 0.1;
    } 
    50% {
        transform: rotate(-225deg) scale(1.05);
        opacity: 0.5;
    }
    100% {
        transform: rotate(-405deg) scale(0.9);
        opacity: 1;
    }
}



/*! LOGIN CSS  */
.modal-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-caja {
    padding: 25px;
    border-radius: 12px;
    width: 320px;
    color: var(--texto);
    background: var(--glass-bg);
    backdrop-filter: blur(var(--glass-blur));
    --webkit-backdrop-filter: blur(var(--glass-blur));
    border: 1px solid var(--glass-border);
    box-shadow: var(--glass-shadow);
    border-radius: 40px;
    font-size: 16px;
}

.modal-caja input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.modal-caja .imagen-login {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin-top: 5px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.modal-caja .imagen-login button {
    border: none;
    cursor: pointer;
}

.modal-caja .imagen-login .seleccionada {
    box-shadow: 0 0 2px 2px rgba(96, 165, 250, 0.951);
    animation: pop 0.4s ease;
}

@keyframes pop {
    0% {
        transform: scale(0.80);
    }

    100% {
        transform: scale(1);
    }
}

.modal-caja .imagen-login img {
    width: 45px;
    height: 45px;
    border-radius: 8px;
}

.modal-caja .btn-login {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: var(--primario);
    color: var(--texto);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 0.8rem;
}

.link {
    margin-top: 10px;
    color: blue;
    cursor: pointer;
    text-align: center;
}

/*! Pagina user */
.circulo-jornada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}

.circulo-jornada h2 {
    margin-bottom: 20px;
    color: var(--texto);
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--bg-card);
}

.circulo-jornada button {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--texto);
    background: var(--glass-bg);
    backdrop-filter: blur(var(--glass-blur));
    --webkit-backdrop-filter: blur(var(--glass-blur));
    border: 10px solid var(--glass-border);
    box-shadow: var(--glass-shadow);
}

.circulo-jornada p {
    margin-top: 20px;
    font-size: 1.2rem;
    color: var(--texto);
    background-color: var(--bg-card);
    padding: 10px 20px;
    border-radius: 20px;
}


/*! Pantalla admin Usuarios  */
.lista-usuarios {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.lista-usuarios .usuario-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 15px;
}

.lista-usuarios .usuario-card img {
    width: 100px;
    height: 100px;
    border-radius: 25%;
}

.lista-usuarios .usuario-card h3 {
    margin-bottom: 5px;
}

.lista-usuarios .usuario-card button {
    width: 100px;
    background: var(--incorrecto);
    cursor: pointer;
    border-radius: 10px 10px 20px 20px;
}



/*! User / Admin / HoursViewer */
.mis-horas {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--texto);
}

.mis-horas .filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    max-width: 95%;
}

.mis-horas .filtros .visualizacion-fechas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.mis-horas .filtros .visualizacion-fechas button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.mis-horas .visualizacion-horas {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mis-horas .visualizacion-horas button {
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

/*! Tabla registro mensual  */
.registro-por-mes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95vw;
}

.header-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    gap: 5px;
}

.header-registro h3,
.btn-agregar-jornada {
    padding: 8px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.header-registro h3 {
    background-color: var(--bg-card);
    border-radius: 8px 0 0 8px;
}

.header-registro .btn-agregar-jornada {
    background: var(--secundario);
    color: var(--texto);
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
}

.registro-por-mes table {
    border-collapse: collapse;
}

.registro-por-mes th {
    background-color: var(--bg-card);
    border: 1px solid var(--border);
    padding: 5px;
    text-align: left;
    border-radius: 10px 10px 0 0;
}

.registro-por-mes tbody tr {
    text-align: left;

}

.registro-por-mes tbody tr td {
    border: 2px solid var(--border);
    padding: 8px;
    border-radius: 10px 0 0 10px;
}

.registro-por-mes tbody tr button {
    all: unset;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background: var(--bg-card);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}


/*! Tabla registro quincena  */
.registro-15-dias-contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.registro-15-dias-contenedor .quincenas {
    flex: 1;
    border: 1px solid var(--border);
    padding: 15px;
    border-radius: 4px;
    background: var(--bg-card);
    border-radius: 28px;
    min-width: 250px;
}

.registro-15-dias-contenedor .quincenas h4,
.grid-semanal div h4 {
    padding: 8px;
    margin-bottom: 10px;
    color: var(--texto);
    background: var(--glass-bg);
    backdrop-filter: blur(var(--glass-blur));
    --webkit-backdrop-filter: blur(var(--glass-blur));
    border: 1px solid var(--glass-border);
    box-shadow: var(--glass-shadow);
    border-radius: 20px 20px 0 0;
}

.registro-15-dias-contenedor .quincenas ul,
.grid-semanal div ul {
    list-style: none;
    padding: 0;

}

.registro-15-dias-contenedor .quincenas ul li,
.grid-semanal ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.registro-15-dias.admin .registro-15-dias-contenedor .quincenas ul li div,
.registro-por-semana.admin .grid-semanal ul li div {
    width: 85%;
    padding: 8px;
    border-radius: 10px 0 0 10px;
}

.registro-15-dias.usuario .registro-15-dias-contenedor .quincenas ul li div,
.registro-por-semana.usuario .grid-semanal ul li div{
    width: 100%;
    padding: 8px;
    border-radius: 10px;
}

.registro-15-dias.admin .registro-15-dias-contenedor .quincenas ul li button,
.registro-por-semana.admin .grid-semanal ul li button {
    width: 15%;
    cursor: pointer;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background: var(--glass-bg);
    backdrop-filter: blur(var(--glass-blur));
    --webkit-backdrop-filter: blur(var(--glass-blur));
    border: 1px solid var(--glass-border);
    box-shadow: var(--glass-shadow);
    border-radius: 0 10px 0 0;
}


/*! registros semanales  */
.grid-semanal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.grid-semanal .contenedor-grid-semanal {
    border: 1px solid var(--border);
    padding: 15px;
    border-radius: 10px;
    background: var(--bg-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    max-height: 90vh;
    overflow-y: scroll;
}


/*! Form agregar Jornada  */
.modal-jornada {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    z-index: 999;

    background: var(--glass-bg);
    backdrop-filter: blur(var(--glass-blur));
    --webkit-backdrop-filter: blur(var(--glass-blur));
    border: 1px solid var(--glass-border);
    box-shadow: var(--glass-shadow);

}

.modal-jornada form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.214);
    border-radius: 20px;
    border: 4px solid var(--border);

    height: 300px;
    width: 300px;
}

.modal-jornada h3 {
    margin-top: 25px;
}

.modal-jornada-labels {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-jornada-labels input {
    margin-left: 5px;
    cursor: pointer;
}

.modal-jornada-buttons button {
    margin-bottom: 25px;
    padding: 3px 5px;
    cursor: pointer;
}

.modal-jornada-buttons button:nth-child(1) {
    background: var(--primario);
    margin-right: 20px;
}

.modal-jornada-buttons button:nth-child(2) {
    background: var(--incorrecto);
}






/*! Footer css  */
footer {
    background-color: #222121;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}